
.footer {
    background-color:#3b82f6;
    color: white; 
    text-align: center;
    padding: 1.5rem;
    font-size: 1rem;
    margin-top: 4rem;
  }
  
  
  .footer:hover {
    background-color: #495057; 
    transition: background-color 0.3s ease;
  }
  
  
  @media (min-width: 768px) {
    .footer {
      font-size: 1.125rem;
      padding: 1.5rem; 
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      font-size: 0.875rem; 
      padding: 1rem; 
    }
  }
  